@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

@layer components {
  .heading-1 {
    @apply text-2xl font-semibold;
  }
  .heading-2 {
    @apply text-xl font-semibold;
  }
  .heading-3 {
    @apply text-lg font-semibold;
  }
  .link-dark {
    @apply text-[#ea7070] hover:text-[#e59572] hover:underline font-medium;
  }
  .link-light {
    @apply text-[#fdc4b6] hover:text-[#e59572] hover:underline font-medium;
  }
}
