@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

@layer components {
  .heading-1 {
    @apply text-2xl font-semibold;
  }
  .heading-2 {
    @apply text-xl font-semibold;
  }
  .heading-3 {
    @apply text-lg font-semibold;
  }
  .link-dark {
    @apply text-cyan-900 hover:text-cyan-800 hover:underline font-medium;
  }
  .link-light {
    @apply text-cyan-50 hover:text-cyan-100 hover:underline font-medium;
  }

  .button-dark {
    @apply px-4 py-2 bg-cyan-900 text-white hover:bg-cyan-800 font-medium;
  }
  .button-light {
    @apply px-4 py-2 bg-cyan-50 text-black hover:bg-cyan-100 font-medium;
  }
}
